<div class="panel panel-primary">
   <div class="panel-heading"> <h1><%= @student.name %></div></h1>
    <div class="panel-body">
      <%= image_tag @student.image, class: "medium-image-size" %>
    </div>
</div>

<%= link_to "[All Students]", batch_student_path %>
