@import "bootstrap-sprockets";
@import "bootstrap";

.small-image-size {
  max-height: 150px;
}

.medium-image-size {
  max-height: 200px;
}

.progress {
  height: 40px;
}

// .panel > .panel-heading {
//   background-color: violet;
//   color: white;
// }
//
// .btn > .btn-primary {
//   color: violet;
// }
